@page "/SignIn"
<h3>Sign In</h3>
<form>
<div class="sign-form">
	<div class=mb-3>
		<p class="welcome-text">Welcome Back!</p>
	</div>
	<div class=mb-3>
		<label for="username" class="form-label">Username</label>
		<input type="text" class="sign-input" placeholder="Username" id="username" />
	</div>
	<label for="password" class="form-label">Password</label>
	<input type="password" class="sign-input" placeholder="Password" id="password"/>

	<button class="sign-btn">Sign In</button>

	<div class="signup">
		<a href="/signup">Sign up</a>
	</div>
</div>
</form>
@code {

}
