@page "/SignIn"
<h3>Sign In</h3>
<form>
<div class="sign-form">
	<div class=mb-3>
		<h4 class="welcome-text">Welcome Back!</h4>
		<p class="fs-5 text-secondary">Today is @Day</p>
	</div>
	<div class=mb-3>
		<label for="username" class="form-label">Username</label>
		<input type="text" class="sign-input" placeholder="Username" @onchange="ValidateUsername" id="username" />
	</div>
	<label for="password" class="form-label">Password</label>
	<input type="password" class="sign-input" placeholder="Password" id="password"/>
	<br />
	<button class="sign-btn btn btn-primary my-3">Sign In</button>

	<div class="signup">
		<a href="/signup">Sign up</a>
	</div>
</div>
</form>
@code {
	private string Day { get; } = DateTime.Now.DayOfWeek.ToString();
	private string Username { get; set; }

	private void ValidateUsername(ChangeEventArgs eventArgs)
	{
		Username = eventArgs.Value.ToString();
	}
}
